*{
    margin: 0;
    padding: 0;
}
body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business-card {
  width: 300px;
  background-color: white;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 5%;
}

.profile-image {
  max-width: 100%;
  width: 50%;
  border-radius: 10%;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

a{
  text-decoration: none;
}