*{
  margin:0;
  padding:0;
}

body {
  background-color: #023b38;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

main {
  background-color: #026b66;
  width: 75%;
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
}

h1{
  padding-bottom: 10px;
}

.todo-list>li {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #039c94;
  margin-bottom: 10px;
  border-radius: 10px;
  list-style-position: inside;
  list-style-type: none;
}

/* .todo-list>li{
  background-color: #039c94;
  padding-bottom: 5px;
  
} */

a{
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: cyan;
  border-bottom: 1px solid;
}

a:visited{
  text-decoration: none;
  color: red;
  border-bottom: 1px solid;
}

a:hover{
  text-decoration: none;
  color: orange;
  border-bottom: 1px dotted
}

a:focus{
  text-decoration: none;
  color: pink;
  /* border-bottom: 1px solid; */
  border: 2px solid black
}

a:active{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid white;
}