*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #c9fbff;
}

.newspaper {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 90%;
  max-width: 720px;
  background-color: #f9faeb;
  margin: 40px auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  font-size: 2rem;
  font-family: "Times New Roman", serif;
}

.name, .author {
  text-transform: uppercase;
}

.headline {
  font-size: 2em;
  font-weight: bold;
}

.sub-headline {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 100;
}

.author {
  font-weight: bold;
}

.text {
  line-height: 2em;
  text-indent: 20px;
}

.text::first-letter {
  font-size: 2em;
  font-weight: bold;
}

.text-centered {
  text-align: center;
}